<!-- Page Content -->
    <div class="container">
       
        <div class="row">
     
               <div class="col-lg-10">
                    <h2 class="page-header">Services which we serve </h2>
                    <% @services.each do |service| %>
                       <div class="row">
                            <div class="col-lg-10">
                                <%= link_to "<h4 class='page-header'>#{service.name}</h4>".html_safe, service_path(service.id) %>
                            </div>
                           <div class="col-lg-5 col-md-4 col-xs-6 thumb">
                                <a class="thumbnail" href="#">
                                    <img class="img-responsive" src="<%= service.servimage.url(:original) %>" alt="" style="width:253px;height:189px">
                                </a>
                            </div>
                            <div class="col-lg-5 col-md-4 col-xs-6 thumb">
                                    <%= truncate(service.description, length: 300, omission: '... (continued)') %>
                            </div>
                       </div>
                    <% end %> 
                </div>
         
            <div class="col-sm-2">
               <%= render "public/staticpages/right_sidebar" %>
            </div>
        </div>
        <!-- /.row -->

        <hr>

</div>